.ContatoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 99vh;
    background-color: var(--cor-preta);
}

.ContatoImg {
    width: 50%;
    height: 100%;
}

.ContatoImg img {
    width: 100%;
    height: 100%;
}

.ContatoText {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    padding: 5%;
    width: 50%;
    height: 100%;
}

.ContatoText p {
    font-size: 2rem;
    font-weight: var(--font-weight-paragrafo-regular);
}

.ContatoText h1 {
    font-family: var(--font-family-titulo-secao);
    font-size: 5rem;
    font-weight: var(--font-weight-titulo-secao);
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1101px) {

    .ContatoText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        display: flex;
        gap: 75px;
    }

    .icons img{
        width: 35px;
        height: 35px;
    }

    .numero-telefone {
        margin-top: 30px;
    }

    form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
    }

    form input {
        height: 3vh;
        width: 25vw;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    form textarea {
        height: 9vh;
        width: 25vw;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    .button-enviar {
        margin-top: 25px;
        width: 10vw;
        height: 35px;
        background-color: var(--cor-vermelha);
        font-size: 20px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
    }

    .button-enviar:hover {
        cursor: pointer;
    }

}

@media (max-width: 1100px) and (min-width: 801px) {

    .ContatoImg {
        width: 100%;
        height: 100%;
    }

    .ContatoText {
        width: 100%;
        height: 100%;
    }

    .ContatoText h1 {
        font-size: 3rem;
    }

    .ContatoText p {
        font-size: 1.5rem;
    }

    .ContatoText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        display: flex;
        gap: 75px;
    }

    .icons img{
        width: 35px;
        height: 35px;
    }

    .numero-telefone {
        margin-top: 30px;
    }

    form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
    }

    form input {
        height: 3vh;
        width: 27vw;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    form textarea {
        height: 9vh;
        width: 27vw;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    .button-enviar {
        margin-top: 25px;
        width: 10vw;
        height: 35px;
        background-color: var(--cor-vermelha);
        font-size: 20px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
    }

    .button-enviar:hover {
        cursor: pointer;
    }

}

@media (max-width: 800px) {

    .ContatoContainer {
        flex-direction: column;
    }

    .ContatoImg {
        display: none;
    }

    .ContatoText {
        width: 100%;
        height: 100%;
    }

    .ContatoText h1 {
        margin-top: 5vh;
        font-size: 2.5rem;
    }

    .ContatoText p {
        font-size: 1rem;
        text-align: center;
    }

    .ContatoText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        display: flex;
        gap: 75px;
    }

    .icons img{
        width: 35px;
        height: 35px;
    }

    .numero-telefone {
        margin-top: 30px;
    }

    form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
    }

    form input {
        height: 3vh;
        width: 300px;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    form textarea {
        height: 9vh;
        width: 300px;
        background-color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
        padding: 6px;
    }

    .button-enviar {
        margin-top: 25px;
        width: 100px;
        height: 35px;
        background-color: var(--cor-vermelha);
        font-size: 20px;
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        color: var(--cor-branca);
        border: 0;
        border-radius: 5px;
    }

    .button-enviar:hover {
        cursor: pointer;
    }

}

/*CSS HOME3*/
.container-footer {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.footer-logo {
    width: 20%;
    height: 15%;
    margin-left: 20px;
}

.popup-loc {
    width: 33%;
    padding-left: 30px;
}

.map {
    width: 500px;
    height: 200px;
}

.footer-titulo {
    color: var(--cor-preta);
    font-family: var(--font-family-titulo-secao);
    font-size: 1.5rem;
}

.footer-paragrafo {
    color: var(--cor-preta);
    font-family: var(--font-family-paragrafo);
    font-size: 1.2rem;
}

.footer-localizacao {
    width: 30%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contatos {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-whatsapp,
.footer-instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-whatsapp {
    margin-bottom: 20px;
}

.footer-icons {
    width: 10%;
    height: 10%;
    margin-right: 20px;
}


@media (max-width: 1400px) and (min-width: 800px) {

    .container-footer {
        align-items: center;
        justify-content: space-between;
    }

    .popup-loc {
        display: none;
    }

    .footer-logo {
        width: 30%;
        margin-left: 0;
    }

    .footer-localizacao {
        width: 30%;
        padding-left: auto;
        min-width: 300px;
    }

    .footer-paragrafo {
        font-size: 1.2rem;
    }

    .footer-titulo {
        font-size: 1.2rem;
        padding-bottom: 15px;
        text-align: start;
    }

    .footer-whatsapp {
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-icons {
        width: 5%;
        height: 5%;
        margin-right: 10px;
    }
}

@media (max-width: 800px) {
    .container-footer {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .popup-loc {
        display: none;
    }

    .footer-logo {
        width: 50%;
        height: 30%;
        margin-left: 0;
    }

    .footer-localizacao {
        width: 100%;
        padding-left: 0;
        margin: 30px 0;
        text-align: center;
    }

    .footer-contatos {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer-titulo {
        font-size: 1.3rem;
        padding-bottom: 15px;
    }

    .footer-paragrafo {
        font-size: 1.2rem;
    }

    .footer-whatsapp {
        margin-bottom: 10px;
    }

    .footer-icons {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
}