/*CSS HOME1*/
.infos-superiores {
    width: 100%;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-around;
    padding: 10px 0 10px;
    position: absolute;
    z-index: 2;
}

.infos-esq,
.infos-dir {
    display: flex;
    width: 75px;
    justify-content: space-around;
}

.infos-centro {
    display: flex;
    width: 50%x;
    border-radius: 50px;
    border: 2px solid var(--cor-branca);
}

.instagram-btn,
.whatsapp-btn,
.profile-btn,
.carrinho-btn,
.pesquisa-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.whatsapp-btn {
    background-image: url('img/home/Icones/whatsapp_white.png');
}

.instagram-btn {
    background-image: url('img/home/Icones/instagram_white.png');
}

.pesquisa {
    background: none;
    width: 84%;
    margin-left: 2.5%;
    border: none;
    border-radius: 50px;
    color: var(--cor-branca);
    outline: none;
}

.pesquisa-btn {
    background-image: url('img/home/Icones/pesquisa.png');
    filter: invert(100%);
    border: none;
    margin-left: 1%;
    border-radius: 50px;
    outline: none;
}

.profile-btn {
    background-image: url('img/home/Icones/user.png');
}

.carrinho-btn {
    background-image: url('img/home/Icones/carrinho.png');
}

.barra {
    width: 2px;
    height: 20px;
    background-color: var(--cor-branca);
    margin: 0 1%;
}

@media (max-width: 480px) {
    .infos-superiores {
        padding: 5px 0 5px;
    }

    .infos-esq,
    .infos-dir,
    .infos-centro {
        width: 60px;
    }

    .infos-centro {
        width: 30%;
        border: 1.5px solid var(--cor-branca);
        height: 17px;
    }

    .instagram-btn,
    .whatsapp-btn,
    .profile-btn,
    .carrinho-btn,
    .pesquisa-btn {
        width: 15px;
        height: 15px;
    }

    .pesquisa {
        width: 80%;
        margin-left: 2%;
    }

    .barra {
        width: 1.5px;
        height: 15px;
        background-color: var(--cor-branca);
        margin: 0 1%;
    }
}



/*CSS HOME2*/
.navBar {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navBarLogo img {
    display: block;
    width: auto;
    height: 57px;
    margin: 15px 20px 15px 0px;
}

#navBarOp {
    --cor-vermelha: 195, 33, 42;
    background-color: rgba(var(--cor-vermelha), 0.8);
    border-radius: 5px;
    border-bottom: 3px inset rgba(var(--cor-vermelha), 0.8);
    border-right: 3px inset rgba(var(--cor-vermelha), 0.8);
    flex-grow: 1;
}

#navBarMenu {
    display: flex;
    width: auto;
    gap: 0.5rem;
    justify-content: space-between;
}

#navBarMenu a {
    display: block;
    padding: 0.5rem;
    font-family: var(--font-family-menu);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 1.15em;
    color: var(--cor-preta);
}

#navBarMenu a:hover {
    color: var(--cor-branca);
}

#navBtnMob {
    display: block;
}

@media (max-width: 600px) {
    #navBarMenu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: rgba(var(--cor-vermelha), 0.8);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #navBarOp {
        flex-grow: 0;
    }

    #navBarOp.active #navBarMenu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #navBarMenu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(var(--cor-vermelha), 0.8);
    }

    #navBtnMob {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;

    }

    #navBarHamburger {
        width: 20px;
        border-top: 2px solid;
        color: var(--cor-branca);
    }

    #navBarHamburger::after,
    #navBarHamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #navBarOp.active #navBarHamburger {
        border-top-color: transparent;
    }

    #navBarOp.active #navBarHamburger::before {
        transform: rotate(135deg);
    }

    #navBarOp.active #navBarHamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}



/*CSS HOME3*/
.container-footer {
    width: 100%;
    padding: 100px;
    background-color: var(--cor-branca);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
    width: 20%;
    height: 20%;
}

.footer-titulo {
    color: var(--cor-preta);
    font-family: var(--font-family-titulo-secao);
    margin-bottom: 20px;
}

.footer-paragrafo {
    color: var(--cor-preta);
    font-family: var(--font-family-paragrafo);
}

.footer-localizacao {
    margin-left: 100px;
}

.footer-contatos {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-whatsapp,
.footer-instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-whatsapp {
    margin-bottom: 20px;
}

.footer-icons {
    width: 10%;
    height: 10%;
    margin-right: 20px;
}

@media only screen and (max-width: 800px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        width: 60%;
        height: 60%;
        margin-bottom: 50px;
    }

    .footer-localizacao {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-paragrafo {
        text-align: center;
    }

    .footer-contatos {
        width: 50vw;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

    .footer-whatsapp,
    .footer-instagram {
        justify-content: center;
    }
}

.footer-titulo {
    color: var(--cor-preta);
    font-family: var(--font-family-titulo-secao);
    margin-bottom: 20px;
}

.footer-paragrafo {
    color: var(--cor-preta);
    font-family: var(--font-family-paragrafo);
}

.footer-localizacao {
    margin-left: 100px;
}

.footer-contatos {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-whatsapp,
.footer-instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.footer-whatsapp {
    margin-bottom: 20px;
}

.footer-icons {
    width: 10%;
    height: 10%;
    margin-right: 20px;
}

@media only screen and (max-width: 800px) {
    .container-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        width: 60%;
        height: 60%;
        margin-bottom: 50px;
    }

    .footer-localizacao {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-paragrafo {
        text-align: center;
    }

    .footer-contatos {
        width: 50vw;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

    .footer-whatsapp,
    .footer-instagram {
        justify-content: center;
    }
}



/*CSS HOME4*/
.title {
    font-size: 80px;
    font-weight: var(--font-weight-titulo-secao);
    text-align: center;
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
}

.banner_inicial {
    filter: grayscale(100%);
    width: 100%;
    position: absolute;
    top: 0;
}

.h4 {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 20% 0;
    text-align: center;

}

.h4 .btn {
    margin-top: 78px;
    width: 250px;
    height: 72px;
    border-radius: 40px;
    border: 0px;
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-size: 23px;
    cursor: pointer;

}

@media only screen and (min-width: 801px) and (max-width:1500px) {

    .title {
        font-size: 50px;
    }

    .h4 {
        width: 750px;
    }

    .h4 .btn {
        width: 200px;
        height: 60px;
        margin: 50px 0;
    }
}

@media only screen and (max-width: 800px) {

    .title {
        font-size: 18px;
    }

    .h4 {
        width: 400px;
        padding: 24% 5% 0;
    }

    .h4 .btn {
        width: 125px;
        height: 36px;
        font-size: 16px;
        margin-top: 20px;
    }
}



/*CSS HOME5*/
@media (max-width: 351px) {

    .background {
        height: 100vh;
        width: 100vw;
        background-color: black;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-img {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .container-img img {
        width: 351px;
    }

    .container-textos {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
    }

    .titulo {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 40px;
    }

    .historia-infos {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 20px;
        max-width: 70vw;
    }

    .botao-historia {
        background-color: var(--cor-laranja);
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 20px;
        border: none;
        width: 200px;
        height: 40px;
        user-select: none;
    }

    .botao-historia:hover {
        cursor: pointer;
    }

}

@media (max-width: 1023px) and (min-width: 352px) {

    .background {
        height: 100vh;
        width: 100vw;
        background-color: black;
    }

    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-img {
        width: 352px;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container-img img {
        width: 352px;
    }

    .container-textos {
        height: 100vh;
        width: 352px;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
    }

    .titulo {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 40px;
    }

    .historia-infos {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 20px;
        max-width: 70vw;
    }

    .botao-historia {
        background-color: var(--cor-laranja);
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 20px;
        border: none;
        width: 200px;
        height: 40px;
        user-select: none;
    }

    .botao-historia:hover {
        cursor: pointer;
    }

}

.background {
    background-color: var(--cor-preta);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.container-img {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
}

.container-img img {
    width: 650px;
    margin: 10px;
}

.container-textos {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 900px;
}

.titulo {
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 90px;
    text-transform: uppercase;
}

.historia-infos {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-regular);
    font-size: 40px;

}

.botao-historia {
    background-color: var(--cor-laranja);
    color: var(--cor-branca);
    font-size: 40px;
    border: none;
    width: 500px;
    height: 100px;
    margin-top: 50px;
}

.botao-historia:hover {
    cursor: pointer;
}




/*CSS HOME6*/
.container-qualidades {
    background-color: var(--cor-vermelha);
    height: 100vh;
}

.qualidades-titulo {
    width: 800px;
    margin: 0 auto;
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    padding-top: 100px;
    font-size: 90px;
    text-align: center;
}

.qualidades-itens {
    display: flex;
    justify-content: space-between;
    margin: 150px 80px 20px 80px;
}

.qualidades-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qualidades-check {
    width: 12vh;
    height: 12vh;
}

.qualidades-txt {
    color: var(--cor-branca);
    text-transform: uppercase;
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-paragrafo-bold);
    font-size: 3rem;
    width: 530px;
    text-align: center;
    margin-top: 40px;

}

@media only screen and (max-width: 600px) {
    .container-qualidades {
        height: 135vh;
    }

    .qualidades-titulo {
        padding: 50px 40px 0 40px;
    }

    .qualidades-itens {
        flex-direction: column;
    }

    .qualidades-itens {
        margin: 50px 80px 200px 80px;
    }

    .qualidades-item1,
    .qualidades-item2,
    .qualidades-item3 {
        margin-bottom: 50px;
    }
}


/*CSS HOME7*/

.background-servicos-1 {
    background-color: var(--cor-preta);
    display: flex;
    flex-direction: column;
}

.s-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px 150px 100px;
}

.card-servicos {
    background-color: var(--cor-vermelha);
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.card-servicos .img {
    height: 200px;
    display: flex;
    align-items: center;
}

.card-servicos img {
    width: 10vw;
    opacity: 80%;
}



.title-servicos {
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 100px;
    margin: 100px 0 70px 0;
    text-align: center;
}

.card-title {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-bold);
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
}

.card-text {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-regular);
    font-size: 16px;
}



@media (max-width:1023px) {

    .background-servicos-1 {
        background-color: var(--cor-preta);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1110px;
        width: 100vw;
    }

    .card-servicos {
        background-color: var(--cor-laranja);
        height: 170px;
        width: 190px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }

    .card-servicos img {
        height: 100px;
        width: 100px;
        opacity: 80%;
    }


    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .card-title {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        font-size: 12px;
        padding-top: 20px;
        text-align: center;
    }

    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 10px;
    }

}

/*CSS HOME8*/
.itabilContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.itabilContainer img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    width: 100vh;
    max-height: 100%;
}

.itabilContainerTxt {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 7vh 5vw 5vh 2.5vw;
}

.itabilContainerTxt h1 {
    color: var(--cor-preta);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 50px;
}

.itabilContainerTxt p {
    color: var(--cor-preta);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-regular);
    font-size: 20px;
    max-width: 60vw;
}

.itabilBtn {
    background-color: var(--cor-laranja);
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 30px;
    border: none;
    width: 250px;
    height: 50px;
    user-select: none;
}

.itabilBtn:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .itabilContainer {
        align-items: center;
        justify-content: center;
    }

    .itabilContainer img {
        height: 100%;
        width: 100%;
    }

    .itabilBackground {
        max-width: 100%;
        max-height: 100%;
        filter: blur(1px) brightness(50%);
    }

    .itabilContainerTxt {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
    }

    .itabilContainerTxt h1 {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 40px;
    }

    .itabilContainerTxt p {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 18px;
        max-width: 70vw;
    }

    .itabilBtn {
        background-color: var(--cor-laranja);
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 18px;
        border: none;
        width: 200px;
        height: 40px;
        user-select: none;
    }
}

@media (max-width: 450px) {
    .itabilContainer {
        align-items: center;
        justify-content: center;
    }

    .itabilContainer img {
        height: 100%;
        width: 100%;
    }

    .itabilBackground {
        max-width: 100%;
        max-height: 100%;
        filter: blur(1px) brightness(50%);
    }

    .itabilContainerTxt {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
    }

    .itabilContainerTxt h1 {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 30px;
    }

    .itabilContainerTxt p {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 14px;
        max-width: 70vw;
    }

    .itabilBtn {
        background-color: var(--cor-laranja);
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 14px;
        border: none;
        width: 200px;
        height: 40px;
        user-select: none;
    }
}



/*CSS HOME9*/

.h9 {
    display: flex;
    justify-content: center;
}

.h9 .imagem {
    position: absolute;
    width: 100%;
    filter: grayscale(100%);
}

.h9 .conteudo {
    position: relative;
    text-align: center;
    color: var(--cor-branca);
    top: 130px;
}

.h9 .texto {
    width: 1000px;
    font-family: var(--font-family-paragrafo);
    font-size: 2.25rem;

}

.h9 .btn {
    margin: 60px 0;
    width: 700px;
    height: 110px;
    font-size: 3.125rem;
    font-family: var(--font-family-titulo-secao);
    color: var(--cor-branca);
    background-color: var(--cor-laranja);
    border: 0;
    cursor: pointer;
}



@media only screen and (max-width: 700px) {
    .title {
        font-size: 1.875rem;
    }

    .h9 .conteudo {
        top: 30px;
    }

    .h9 .texto {
        width: 350px;
        top: 30px;
        font-size: 1rem;
    }

    .h9 .btn {
        margin: 15px 0;
        width: 200px;
        height: 40px;
        font-size: 1.125rem;
    }

}

@media only screen and (min-width: 701px) and (max-width: 1300px) {
    .title {
        font-size: 2.8125rem;
    }

    .h9 .conteudo {
        top: 60px;
    }

    .h9 .texto {
        width: 600px;
        font-size: 1.75rem;
    }

    .h9 .btn {
        width: 600px;
        height: 80px;
        margin: 30px 0;
        font-size: 2.1875rem;
    }

}

/*CSS HOME10*/
#home-page {
    background: url('img/home/01.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home-title {
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    width: 60%;
}

#home-page .home-title {
    margin-top: 0;
}

#home-page button {
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-size: 30px;
    border: none;
    width: 300px;
    height: 80px;
    user-select: none;
    margin: 50px 0;
    border-radius: 50px;
}