/*CSS HOME1*/
.infos-superiores {
    width: 100%;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    justify-content: space-around;
    padding: 0.6em 0 0.6em;
    position: absolute;
}

.infos-esq, .infos-dir {
    display: flex;
    width: 4.69em;
    justify-content: space-around;
}

.infos-centro {
    display: flex;
    width: 50%x;
    border-radius: 3.125em;
    border: 0.125em solid var(--cor-branca);
}

.instagram-btn, .whatsapp-btn, .profile-btn, .carrinho-btn, .pesquisa-btn {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-size: cover;
}

.whatsapp-btn {
    background-image: url('img/home/Icones/whatsapp_white.png');
}

.instagram-btn {
    background-image: url('img/home/Icones/instagram_white.png');
}

.pesquisa {
    background: none;
    width: 84%;
    margin-left: 2.5%;
    border: none;
    border-radius: 3.125em;
    color: var(--cor-branca);
    outline: none;
}

.pesquisa-btn {
    background-image: url('img/home/Icones/pesquisa.png');
    filter: invert(100%);
    border: none;
    margin-left: 1%;
    border-radius: 3.125em;
    outline: none;
}

.profile-btn {
    background-image: url('img/home/Icones/user.png');
}

.carrinho-btn {
    background-image: url('img/home/Icones/carrinho.png');
}

.barra {
    width: 0.125em;
    height: 1.25em;
    background-color: var(--cor-branca);
    margin: 0 1%;
}

@media (max-width: 480px) {
    .infos-superiores {
        padding: 0.31em 0 0.31em;
    }

    .infos-esq, .infos-dir, .infos-centro {
        width: 3.75em;
    }

    .infos-centro {
        width: 30%;
        border: 0.09em solid var(--cor-branca);
        height: 1em;
    }

    .instagram-btn, .whatsapp-btn, .profile-btn, .carrinho-btn, .pesquisa-btn {
        width: 1em;
        height: 1em;
    }

    .pesquisa {
        width: 80%;
        margin-left: 2%;
    }

    .barra {
        width: 0.09em;
        height: 1em;
        background-color: var(--cor-branca);
        margin: 0 1%;
    }
}

/*CSS HOME2*/












/*CSS HOME3*/
















/*CSS HOME4*/












/*CSS HOME5*/











/*CSS HOME6*/












/*CSS HOME7*/











/*CSS HOME8*/


























/*CSS HOME9*/