/*CSS HOME1*/












/*CSS HOME2*/












/*CSS HOME3*/
















/*CSS HOME4*/













/*CSS HOME5*/











/*CSS HOME6*/












/*CSS HOME7*/

@media (min-width:1023px) {

    .background-servicos-1 {
        background-color: var(--cor-preta);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 170vh;
        width: 100vw;
    }
    
    .card-servicos {
        background-color: var(--cor-laranja);
        height: 40vh;
        width: 23vw;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .card-servicos img {
        height: 20vh;
        width: 12vw;
        opacity: 80%;
    }

    .corrente {
        height: 20vh;
        width: 12vw;
        opacity: 80%;
    }
    
    .row1 {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .row2 {
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30vh;
    }
    
    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 56px;
        margin-top: 75px;
        margin-bottom: 125px;
    }
    
    .card-title {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
    }
    
    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 16px;
    }
    
}

@media (max-width:1023px) {

    .background-servicos-1 {
        background-color: var(--cor-preta);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1110px;
        width: 100vw;
    }

    .card-servicos {
        background-color: var(--cor-laranja);
        height: 170px;
        width: 190px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }

    .card-servicos img {
        height: 100px;
        width: 100px;
        opacity: 80%;
    }

    .corrente {
        height: 100px;
        width: 100px;
        opacity: 80%;
    }
    
    .row1 {
        display: flex;
        flex-direction: column;
    }
    
    .row2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 35px;
    }
    
    .card-title {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        font-size: 12px;
        padding-top: 20px;
        text-align: center;
    }
    
    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-regular);
        font-size: 10px;
    }

}

/*CSS HOME8*/


























/*CSS HOME9*/