@media (min-width: 950px) {

    .SERVICOS1 {
        height: 100vh;
        width: 100vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
        background-image: url(img/home/01.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SERVICOS2 {
        height: 100vh;
        width: 100vw;
        padding-bottom: 10vh;
        background-image: url(img/home/05.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .SERVICOS3 {
        height: 100vh;
        width: 100vw;
        padding-bottom: 10vh;
        background-image: url(img/home/04.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 50px;
        text-shadow: black 3px 3px 3px;
    }

    .left-card, .right-card {
        background-color: var(--cor-vermelha);
        height: 25vh;
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-card-image, .right-card-image {
        background-color: var(--cor-vermelha);
        height: 25vh;
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10vw;
    }

    .right-card, .right-card-image {
        margin-left: 55vw;
    }

    .left-card, .left-card-image {
        margin-right: 55vw;
    }

    .title-card {
        background-color: var(--cor-vermelha-escura);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        margin-bottom: 15vh;
        height: 15vh;
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        text-align: center;
        text-shadow: black 3px 3px 3px;
        font-size: 35px;
        width: 45%;
    }

    .SERVICOS3 img {
        height: 125px;
        width: 125px;
    }

}

@media (min-width: 768px) and (max-width: 950px){

    .SERVICOS1 {
        height: 100vh;
        width: 100vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
        background-image: url(img/home/01.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SERVICOS2 {
        height: 100vh;
        width: 100vw;
        padding-bottom: 10vh;
        background-image: url(img/home/05.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .SERVICOS3 {
        height: 100vh;
        width: 100vw;
        padding-bottom: 10vh;
        background-image: url(img/home/04.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 40px;
        text-shadow: black 3px 3px 3px;
    }

    .left-card, .right-card {
        background-color: var(--cor-vermelha);
        height: 25vh;
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-card-image, .right-card-image {
        background-color: var(--cor-vermelha);
        height: 25vh;
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7vw;
    }

    .right-card, .right-card-image {
        margin-left: 55vw;
    }

    .left-card, .left-card-image {
        margin-right: 55vw;
    }

    .title-card {
        background-color: var(--cor-vermelha-escura);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        margin-bottom: 15vh;
        height: 15vh;
        width: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        text-align: center;
        text-shadow: black 3px 3px 3px;
        font-size: 25px;
        width: 45%;
    }

    .SERVICOS3 img {
        height: 100px;
        width: 100px;
    }

}

@media (max-width: 767px) {

    .container {
        background-color: var(--cor-preta);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SERVICOS1 {
        height: 100vh;
        width: 100vw;
        padding-top: 10vh;
        padding-bottom: 7vh;
        background-image: url(img/home/01.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .SERVICOS2 {
        height: 100vh;
        width: 100vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-image: url(img/home/05.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .SERVICOS3 {
        height: 100vh;
        width: 100vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-image: url(img/home/04.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .S1-cards {
        display: flex;
        flex-direction: column;
        gap: 15vh;
    }

    .title-servicos {
        color: var(--cor-branca);
        font-family: var(--font-family-titulo-secao);
        font-weight: var(--font-weight-titulo-secao);
        font-size: 40px;
        text-shadow: black 3px 3px 3px;
    }

    .left-card, .right-card {
        background-color: var(--cor-vermelha);
        height: 230px;
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-card-image, .right-card-image {
        background-color: var(--cor-vermelha);
        height: 230px;
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-card {
        background-color: var(--cor-vermelha-escura);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        margin-bottom: 10vh;
        height: 110px;
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text {
        color: var(--cor-branca);
        font-family: var(--font-family-paragrafo);
        font-weight: var(--font-weight-paragrafo-bold);
        text-align: center;
        text-shadow: black 3px 3px 3px;
        font-size: 20px;
        width: 75%;
    }

    .SERVICOS3 img {
        height: 50px;
        width: 50px;
    }

}