.container-qualidades {
  background-color: var(--cor-vermelha);
  height: 100vh;
}

.qualidades-titulo {
  width: 40vw;
  margin: 0 auto;
  font-family: var(--font-family-titulo-secao);
  font-weight: var(--font-weight-titulo-secao);
  padding-top: 8vh;
  font-size: 5.7rem;
  text-align: center;
}

.qualidades-itens {
  display: flex;
  justify-content: space-between;
  margin: 15vh 4vw 2vh 4vw;
}

.qualidades-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualidades-check {
  width: 12vh;
  height: 12vh;
}

.qualidades-txt {
  text-transform: uppercase;
  font-family: var(--font-family-titulo-secao);
  font-size: 2.5rem;
  width: 24vw;
  text-align: center;
  margin-top: 4vh;
}



@media (max-width: 1300px) and (min-width: 800px) {
  .container-qualidades {
    height: 170vh;
  }

  .qualidades-titulo {
    font-size: 4rem;
    width: 60vw;
  }

  .qualidades-itens {
    flex-direction: column;
    align-items: center;
  }

  .qualidades-item {
    margin-bottom: 10vh;
  }

  .qualidades-txt {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .container-qualidades {
    height: 130vh;
    min-height: 1100px;
  }

  .qualidades-titulo {
    font-size: 2.5rem;
    width: 100%;
  }

  .qualidades-itens {
    flex-direction: column;
    align-items: center;
  }

  .qualidades-item {
    margin-bottom: 10vh;
  }

  .qualidades-txt {
    width: 80%;
    font-size: 1.6rem;
  }
}