/*CSS HOME7*/

.background-servicos-1 {
  background-color: var(--cor-preta);
  display: flex;
  flex-direction: column;
}

.s-itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 100px 150px 100px;
}

.card-servicos {
  background-color: var(--cor-vermelha);
  width: 26vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  margin: 3vh;
  align-items: center;
  justify-content: center;
}

.card-servicos .img {
  height: 20vh;
  display: flex;
  align-items: center;
}

.card-servicos img {
  width: 10vw;
  opacity: 80%;
}



.title-servicos {
  color: var(--cor-branca);
  font-family: var(--font-family-paragrafo);
  font-weight: var(--font-weight-paragrafo-bold);
  font-size: 5.5rem;
  margin: 10vh 0 7vh 0;
  text-align: center;
}

.card-title {
  color: var(--cor-branca);
  font-family: var(--font-family-titulo-secao);
  font-size: 2rem;
  padding-top: 2vh;
  text-align: center;
}

.card-text {
  color: var(--cor-branca);
  font-family: var(--font-family-paragrafo);
  font-weight: var(--font-weight-paragrafo-regular);
  font-size: 1.5rem;
  margin-top: 1vh;
}



@media (max-width:1023px) {

  .background-servicos-1 {
    background-color: var(--cor-preta);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1110px;
    width: 100vw;
  }

  .card-servicos {
    background-color: var(--cor-laranja);
    height: 170px;
    width: 190px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  .card-servicos img {
    height: 100px;
    width: 100px;
    opacity: 80%;
  }


  .title-servicos {
    color: var(--cor-branca);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .card-title {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-bold);
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
  }

  .card-text {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-regular);
    font-size: 10px;
  }

}