.container-qualidades {
  background-color: var(--cor-vermelha);
  height: 100vh;
}

.qualidades-titulo {
  width: 40vw;
  margin: 0 auto;
  font-family: var(--font-family-titulo-secao);
  font-weight: var(--font-weight-titulo-secao);
  padding-top: 8vh;
  font-size: 5.7rem;
  text-align: center;
}

.qualidades-itens {
  display: flex;
  justify-content: space-between;
  margin: 15vh 4vw 2vh 4vw;
}

.qualidades-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualidades-check {
  width: 12vh;
  height: 12vh;
}

.qualidades-txt {
  text-transform: uppercase;
  font-family: var(--font-family-titulo-secao);
  font-size: 2.5rem;
  width: 24vw;
  text-align: center;
  margin-top: 4vh;
}




@media only screen and (max-width: 600px) {
  .container-qualidades {
    height: 135vh;
  }

  .qualidades-titulo {
    padding: 50px 40px 0 40px;
  }

  .qualidades-itens {
    flex-direction: column;
  }

  .qualidades-itens {
    margin: 50px 80px 200px 80px;
  }

  .qualidades-item {
    margin-bottom: 50px;
  }
}