.itabilContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.itabilContainerTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 70vh;
    width: 50vw;
    background-color: var(--cor-preta);
    gap: 5vh;
}

.itabilTitulo {
    background-color: var(--cor-vermelha-escura);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    margin-bottom: 15vh;
    height: 15vh;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itabilContainerTxt h1 {
    color: var(--cor-preta);
    font-family: var(--font-family-titulo-secao);
    font-weight: var(--font-weight-titulo-secao);
    font-size: 50px;
}

.itabilContainerTxt p {
    color: var(--cor-branca);
    font-family: var(--font-family-paragrafo);
    font-weight: var(--font-weight-paragrafo-regular);
    font-size: 20px;
    max-width: 60vw;
}