.LojaContainer{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-branca);
}

.LojaText h1 {
    font-family: var(--font-family-titulo-secao);
    font-size: 5rem;
    font-weight: var(--font-weight-titulo-secao);
    text-align: center;
    margin-bottom: 30px;
    color: var(--cor-preta);
}

.LojaText{
    padding-top: 150px;
}